
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.body{
  height: 100vh;
}

.container-fluid{
  border: 1px solid blue;
}
.row{
  padding: 1%;
}
ul{
  list-style: none;
}
aside{
  border-right: 1px solid blue;
}
